* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  --body-color: #070606;

  --header-color: #493a3a;

  --user-nav-bg-color: #edebeb;

  --card-bg-color: #b6b0b0;

  --bookroom-form-button-bg-color: var(--header-color);
  --bookroom-form-button-text-color: #dbd8d8;

  --all-heading-color: #070606;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --error-button-bg-color: #493a3a;
  --error-text-color: #dbd8da;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow: hidden;
  color: var(--body-color);
  font-weight: 500;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

input,
input:hover,
input:focus,
textarea,
textarea:hover,
textarea:focus,
select,
select:hover,
select:focus {
  outline: none;
  border: none;
}

main {
  min-height: calc(100vh - 18rem);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
