.form {
  width: 40%;
  padding: 3rem 2.4rem;
  background-color: var(--card-bg-color);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.6rem;
  border-radius: 9px;
  align-items: center;
}

.form_tertiary_heading {
  grid-column: 1/-1;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

.form_tertiary_heading span {
  padding-bottom: 3px;
  border-bottom: 3px solid var(--body-color);
}

.label {
  font-size: 2rem;
  font-weight: 500;
}

.input {
  padding: 3px 4px;
  font-size: 2rem;
  border-radius: 3px;
}

.facility {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tertiary_heading {
  grid-column: 1/-1;
  font-size: 2rem;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.userNotification {
  font-size: 1.2rem;
}

.list {
  list-style: none;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.input_box {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.facility_input {
  font-size: 1.4rem;
  padding: 3px;
  border-radius: 3px;
}

.facility_button {
  padding: 4px;
  font-size: 1.4rem;
}

.include {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.include_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  grid-column: 1/-1;
}

.buttons button {
  padding: 0.6rem 0.9rem;
  color: var(--bookroom-form-button-text-color);
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: var(--bookroom-form-button-bg-color);
  border: 3px solid transparent;
  transition: all 0.3s;
}

.buttons button:hover {
  background-color: var(--bookroom-form-button-text-color);
  color: var(--bookroom-form-button-bg-color);
  border: 3px solid var(--bookroom-form-button-bg-color);
}
